{{> header }}
{{> navbar }}
    <h1>Algunos de mis pintores favoritos</h1>

            <p>Leonardo da Vinci</p> 
            <p>Vincent Van Gogh</p> 
            <p>Pablo Picasso</p> 
            <p>Claude Monet</p> 
{{> footer}}      
   
